# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
!.vscode/
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.amazonq/
# OS
.DS_Store
Thumbs.db

# Cache
.eslintcache
.cache/
